<div>
  <div>
    {{#each post as |post| }}
    <div class="card bg-light mb-3">
      <div class="d-flex justify-content-between">
        <div class="card-header bg-warning">{{post.title}}</div>
        <div class="card-header bg-warning">{{post.title}}</div>
      </div>
      <div>
        <div class="card-body">
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <div class="d-flex justify-content:centre">
    <a class="btn btn bg-warning btn-lg newpost" href="/newpost" role="button">+ New Post</a>
  </div>
</div>