<form class="newpost">
    <div class="form-group">
      <label for="disabledTextInput">Title</label>
      <input type="text" id="disabledTextInput" class="form-control title-newpost" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="disabledSelect">Content</label>
      <input type="text" id="disabledTextInput" class="form-control content-newpost" placeholder="Please write your blog post here">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script src="/js/newpost.js"></script>
