<div>
  <div class="card bg-light mb-3">
    <div class="card-header bg-warning">Created by {{posts.User.username}} on {{posts.created_at}}</div>
    <div>{{posts.title}} </div>
    <div class="card-body">
      <p class="card-text">{{posts.content}}</p>
    </div>
  </div>
  </div>