<form class="updatePost">
  <div>
    <div class="card bg-light mb-3">
      <div class="card-header bg-warning">Created by {{posts.User.username}} on {{posts.created_at}}</div>
      <div class="post-title">{{posts.title}} </div>
      <div class="card-body">
        <p class="post-content">{{posts.content}}</p>
      </div>
      <div class="d-flex justify-content:center ">
        <a onclick="updatePost()" class="bg-warning">Update Post</a>
        <a  class="bg-warning">Delete Post</a>
      </div>
    </div>
  </div>
</form>


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Update your post here!</p>
    <form id="myForm" action="#">
      <input type="text" class="title-updatepost"/>
      <input type="text" class="content-updatepost"/>
      <input type="submit" id="submit" value="Update">
    </form>
  </div>
</div>

<script src="/js/update.js"></script>